package main

templ intel() {
 
          <h2>
                Intel
            </h2>
            <br>
            <ol>
                <li>
                    /intel/full_stack_developer_thoughtworks<a>/edit</a>
                </li>
                <li>
                    /intel<a>/new</a>
                </li>
            </ol>
   
}