package main

templ signals() {
 
   <h2>
                Signals
            </h2>
            <br>
            <ol>
                <li>
                    /signals/ci_cd<a>/edit</a>
                </li>
                <li>/signals<a>/new</a></li>
            </ol>
   
}