package main
templ withNavigation(contents templ.Component) {
    <nav>
        <a href="/">Home</a>
        <a href="/signals.html">Signals</a>
        <a href="/drafts.html">Drafts</a>
        <a href="/intel.html">Intel</a>
    </nav>
 
    <hr />

    @contents
}