package main
templ withNavigation(contents templ.Component) {
    <nav>
        <a href="/">Home</a>
        <a href="/signals">Signals</a>
        <a href="/drafts">Drafts</a>
        <a href="/intel">Intel</a>
    </nav>
 
    <hr />

    @contents
}