package pages

templ AnnotationSubmitted(filename string) {
	<h2>Annotation Submitted</h2>
	<p>Your annotation for <strong>{ filename }</strong> has been successfully submitted.</p>
	<p>Thank you for your contribution!</p>
	<a href={ "/intel/" + filename }>Go back to annotate more intel</a>
	<br/>
	<a href="/">Return to Home</a>
}
