package pages

templ IntelSubmitted() {
    <h2>Success</h2>
    <p>
        Your Intel has been successfully created! You can now view it in the list of Intel.
    </p>
    <br />
  
    <a href="/intel/new">Create another Intel</a>
    <br />
    <a href="/intel">View all Intel</a>
    <br />
  
    <a href="/">Back to Home</a>
   
    
}