package pages

templ Intel(items []string) {
<ol>
   for _, item := range items {
    <li>
        <a href={"/intel/" +item}>{item}</a>
    </li>
    }
    <li>
        <a href="/intel/new">New Intel</a>
    </li>
 </ol>
}